.logo {
  background-position: center;
  background-size: contain;
  background-image: url(../../images/logo_place_header.svg);
  background-repeat: no-repeat;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
}
