.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.logo {
  background-position: center;
  background-size: contain;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}

.header__title {
  position: relative;
  width: 730px;
  left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
}

.two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
  flex-basis: 170px;
}

.two-columns_paragraph__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__main-text {
  display: flex;
  min-width: 784px;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
}

.digits__title {
  width: 60%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__subtitle {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.digits__table {
  display: flex;
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 60px;

}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.feynman {
  height: 890px;
  display: flex;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  margin: 0 auto;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
}

.kaufman {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding-bottom:90px;
  color: white;
  background-color: red;
  overflow:hidden;
  position: relative;
}

.table {
  margin-left: auto;
  margin-right:auto;
  width:1100px;
  justify-content: space-between;
}